.App {
  margin-top: 8em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  gap: 3em;
  justify-content: center;
}

section {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.device-selectors {
  min-width: 450px;
}

.field {
  height: auto;
  width: 100%;
  display: flex;
  gap: 0.25em;
  flex-direction: column;
}
.field.no-column {
  flex-direction: row;
}

.field .legend {
  font-size: 0.85em;
  color: #999;
}

.video-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-wrapper video {
  height: 168.75px;
  width: 300px;
  border-radius: 0.5em;
  box-shadow: 0 0 5px 1px #dadce0;
  object-fit: cover;
}

.video-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  filter: blur(0.5em) brightness(1.5);
  transform: scale(1.1);
}
