* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  border: 0;
  padding: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  padding: 1em;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}

section {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.emoji {
  font-size: 20px;
}
